body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
111111111111111111111111111111111111111111111111111111111111111111111111111
.container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
    margin-top: 20px;
}
