{% extends "layout.html" %}

{% block title %}Home - Tainerz{% endblock %}

{% block content %}

<h1>Docker Images</h1>
<table>
    <thead>
        <tr>
            <th>Image ID</th>
            <th>Tags</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        {% for image in images %}
        <tr>
            <td>{{ image.id }}</td>
            <td>{{ image.tags | join(', ') }}</td>
            <td>{{ image.size }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}