<div class="tainerz-card-wrapper">
  <div class="tainerz-card">
    <div class="tainerz-card-face tainerz-card-front">
      <h2>Docker Containers</h2>
    </div>
    <div class="tainerz-card-face tainerz-card-back">
      <table>
          <thead>
              <tr>
                  <th>Container ID</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              {% for container in containers %}
              <tr>
                  <td>{{ container.id }}</td>
                  <td>{{ container.name }}</td>
                  <td>{{ container.status }}</td>
                  <td>
                      <a href="{{ url_for('start_container', container_id=container.name) }}">
                          <button style="margin-right: 10px;">Start</button>
                      </a>
                      <a href="{{ url_for('stop_container', container_id=container.name) }}">
                          <button>Stop</button>
                      </a>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>