{% extends "layout.html" %}
{% block title %}Docker Images{% endblock %}

{% block content %}

<div class="docker-container-card-wrapper">
    <div class="docker-container-card">
        <div class="docker-container-card-front">
            <h2>Docker Images</h2>
        </div>
        <div class="docker-container-card-back">
            <table class="docker-container-table">
                <thead>
                    <tr>
                        <th>Image ID</th>
                        <th>Tags</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in images %}
                    <tr>
                        <td>{{ image.id }}</td>
                        <td>{{ image.tags | join(', ') }}</td>
                        <td>{{ image.size }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}