{% extends "layout.html" %}
{% block title %}Docker Containers{% endblock %}

{% block content %}

<div class="docker-container-card-wrapper">
    <div class="docker-container-card">
        <div class="docker-container-card-front">
            <h2>Docker Containers</h2>
        </div>
        <div class="docker-container-card-back">
            <table class="docker-container-table">
                <thead>
                    <tr>
                        <th>Container ID</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for container in containers %}
                    <tr>
                        <td>{{ container.id }}</td>
                        <td>{{ container.name }}</td>
                        <td>{{ container.status }}</td>
                        <td>
                            <a href="{{ url_for('start_container', container_id=container.name) }}">
                                <button class="docker-container-button">Start</button>
                            </a>
                            <a href="{{ url_for('stop_container', container_id=container.name) }}">
                                <button class="docker-container-button docker-container-stop-button">Stop</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
