<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tainerz the docker manager</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Tainerz</h1>
        <p>This is a simple website to manage docker</p>
        <!-- just new branch -->
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quod? Ipsam reiciendis accusamus ad quod dolor recusandae, eligendi cupiditate et reprehenderit consequuntur quam! Nostrum eos labore modi error blanditiis ad.</p>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>