<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Tainerz the docker manager{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="layout-body">
    <script src="/static/js/script.js"></script>
    
    <header class="layout-header">
        <h1>Tainerz</h1>
        <nav>
            
            <a href="{{ url_for('login') }}">Logout</a>
        </nav>
        
    </header>

    <main class="layout-main">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="layout-footer">
        <p>Developed by Shuba S and Designed by Sanjana M</p>
    </footer>
</body>
</html>
