<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Tainerz the docker manager{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <script src="/static/js/script.js"></script>
    <header>
        <h1>Tainerz</h1>
        <a href="{{ url_for('home') }}">Back to Home</a> <a href="{{ url_for('login') }}">Logout</a>
    </header>
        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>
    <footer>
        <p>Developed by Shuba S and Designed by Sanjana M</p>
    </footer>
</body>

</html>